@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__description/cards__description.css);

.cards {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0px;
    width: 920px;
    margin: 0 auto;
  }