@import url(./__description/cards__description.css);
@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);

.cards {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 0px;
    width: 920px;
    /*position: relative;*/
  }