@import url(../cards/cards__description.css);
@import url(../cards/cards__image.css);
@import url(../cards/cards__item.css);
@import url(../cards/cards__title.css);

.cards {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0px;
    width: 920px;
}