.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: inherit;
    right: 48px;
    top: 50%;
    position: absolute;
    transition: opacity 0.4s ease-in;
  }

  .feynman__link:hover {
    opacity: 0.5;
  }