@keyframes .rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .header__square-pic {
      animation: rotation 20s ease-in-out 0s infinite normal forwards running;
  }