@import url(../table/__heading/table__heading.css);
@import url(../table/__heading_theme_dark/table__heading_theme_dark.css);
@import url(../table/__cell/table__cell.css);
@import url(../table/__cell_theme_dark/table__cell_theme_dark.css);
@import url(../table/__text/table__text.css);
@import url(../table/__text_theme_dark/table__text_theme_dark.css);
@import url(../table/_theme/table_theme_dark.css);

.table {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1100px;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0px;
  }