@import url(../footer/__author/footer__author.css);
@import url(../footer/__column/footer__column.css);
@import url(../footer/__column-heading/footer__column-heading.css);
@import url(../footer/__column-links/footer__column-links.css);
@import url(../footer/__column-pages/footer__column-pages.css);
@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__social/footer__social-icon.css);

.footer {
    display: flex;
    position: relative;
    background-color: #1f1f1f;
    min-height: 350px;
  }