.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    z-index: -1;
    position: absolute;
    right: -210px;
    top: auto;
    background-repeat: no-repeat;
    display: block;
    animation: rotation 20s ease-in-out 0s infinite normal forwards running;
  }